<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Tên sân</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    <th:block th:each="booking : ${booking}">
        <tr>
            <td>
                <p th:text="${booking.status_booking}"></p>
            </td>
            <td><a th:href="@{/confirm/} + ${booking.id_booking}" >Thay đổi</a> </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>